<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/signup.css" rel="stylesheet">
  </head>
  <body>
    <div id="stylized" class="myform">
      <form id="form" name="form" method="post" action="/signup">
      
      <label>Name
      <span class="small">이름 입력</span>
      </label>
      <input type="text" name="name" id="name"/>
      
      <label>ID
      <span class="small">ID 입력</span>
      </label>
      <input type="text" name="id" id="email" />
      
      <label>Password
      <span class="small">패스워드 6자 이상</span>
      </label>
      <input type="text" name="password" id="password" />
      
      <button type="submit">Sign-up</button>
      <div class="spacer"></div>
      
      </form>
      </div>
  </body>
</html>